*{
    font-family: 'Tektur', cursive;
}
.container{
    width: 50%;
    margin: 2rem auto 0 auto;
    padding: 1rem 0;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.5);
    border-radius: 2rem;
    text-align: center;
}
#hello{
    font-size: 10rem;
    margin: 0;
}
.ulas{
    position: relative;
    bottom: 4rem;
    font-size: 2.5rem;
}
.social-text{
    position: relative;
    font-size: 1.2rem;
    left: 6.8rem;
    bottom: 6.1rem;
    z-index: 1;
    color: transparent;
    cursor:default;
    transition: 700ms;
}
.social-text-appear{
    color: black;
    transition: 700ms;
}
.social{
    font-size: 2em;
    border-radius: 1rem;
    box-shadow: 1px 1px 3px rgb(0,0,0,0.2);
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.social i{
    color: black;
    padding: 0 0.5em;
}
.social i:active{
    color: rgb(109, 109, 201);
    transition-duration: 1ms;
}
.social i:hover{
    color: rgb(0, 0, 150);
    transition-duration: 600ms;
}
.footer{
    display: flex;
}
.project-container{
    width: 3rem;
    height: 12rem;
    margin:0 0 0 1.7rem;
    box-shadow: 1px 1px 3px rgb(0,0,0,0.2);
    display: flex;
    padding:0.5rem 1.5rem 0 0;
    border-radius: 1rem;
}
.project-container i{
    font-size: 2.8rem;
    color: black;
    transition: 500ms;
}
.project-container i:hover{
    color:#0077b6 ;
    transition: 500ms;
}
.project-text{
    writing-mode: vertical-lr;
    text-orientation: upright;
    cursor: default;
    position: relative;
    right: 1rem;
    color: transparent;
    transition: 600ms;
}
.project-text-appear{
    color: black;
    transition: 600ms;
}
.footer1{
    width: 50%;
    display: flex;
}
.calculator-exp{
    width: 10rem;
    height: fit-content;
    border: 1px solid rgb(0,0,0,0.2);
    border-radius: 0.5rem;
    text-align: left;
    padding: 0.2rem;
    position: relative;
    top: 0.5rem;
    margin-left: 0.1rem;
    display: none;
    transition: 600ms;
}
.calculator-exp-appear{
    display: block;
    transition: 600ms;
}
